<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stage 5</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Video Game IMDB</h1>      
    <p>Adam Goldberg, Hoai Nguyen, & Cullen Donahoe</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">CS564</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href={{ url_for('index') }}>Home</a></li>
        <li class="active"><a href={{ url_for('consoles_page') }}>Consoles</a></li>
        <li><a href={{ url_for('games_page') }}>Games</a></li>
        <li><a href={{ url_for('characters_page') }}>Characters</a></li>
        <li><a href={{ url_for('developers_page') }}>Developers</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="containter">
   <div class ="col-sm-6">
    Search either one or both tables. If the Console field is populated, only results 
    for the left table will show up. If the Company field is populated, results for both
    tables based on the Company name will show up
    <form action="{{ url_for('search_consoles') }}" method=post class=add-entry>
      <dl>
        <dt>Console name:
        <dd><input type=text size=30 name=console>
        <dt>Company name:
        <dd><input type=text size=30 name=company>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  </div>
  <div class ="col-sm-6">
    
      <h3>Insert a single data entry for consoles</h3>
      <form action="{{ url_for('add_console') }}" method=post class=add-entry>
        <dl>
          <dt>Console:
          <dd><input type=text size=30 name=cid>
          <dt>Company:
          <dd><input type=text size=30 name=company>
          <dd><input type=submit value=Share>
        </dl>
      </form>
      <h3>Upload a csv file for bulk for consoles</h3>
      <form action="{{ url_for('add_console_bulk') }}" method=post>
        <input type ="file" name = "data_file">
        <input type = "submit">
      </form>
      <h3>Insert a single data entry for hardware companies</h3>
      <form action="{{ url_for('add_hardware') }}" method=post class=add-entry>
      <dl>
        <dt>Company name:
        <dd><input type=text size=30 name=name>
        <dt>Location:
        <dd><input type=text size=30 name=location>
        <dt>Year Established:
        <dd><input type=text size=4 name=year>
        <dd><input type=submit value=Share>
      </dl>
      </form>
      <h3>Upload a csv file for bulk for hardware companies</h3>
      <form action="{{ url_for('add_hardware_bulk') }}" method=post>
        <input type ="file" name = "data_file">
        <input type = "submit">
      </form>
  </div>
</div>
<div class="container">
  <div class="col-sm-6">
    <h1>Consoles</h1>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Console</th>
        <th>Company</th>
      </tr>
    </thead>
  
    <tbody>
      {% for console in consoles %}
      <tr>
        <td>{{ console.ConsID }}</td>
        <td>{{ console.CompanyID }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 
  </div>
  <div class="col-sm-6">
    <h1>Hardware Developers</h1>
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Company</th>
            <th>Location</th>
            <th>Year Established</th>
        </tr>
      </thead>
      <tbody>
        <!--Reverse because they are in descending order -->
        {% for company in hardCos %}
          <tr>
            <td>{{ company.CompanyID  }}</td>
            <td>{{ company.Location }}</td>
            <td>{{ company.DateEstablished }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
</div>



</html>
