<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stage 5</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Video Game IMDB</h1>      
    <p>Adam Goldberg, Hoai Nguyen, & Cullen Donahoe</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">CS564</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href={{ url_for('index') }}>Home</a></li>
        <li><a href={{ url_for('consoles_page') }}>Consoles</a></li>
        <li class="active"><a href={{ url_for('games_page') }}>Games</a></li>
        <li><a href={{ url_for('characters_page') }}>Characters</a></li>
        <li><a href={{ url_for('developers_page') }}>Developers</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="containter">
   <div class ="col-sm-6">
    <form action="{{ url_for('search_games') }}" method=post class=add-entry>
      Search for video games in the DB by name
      <dl>
        <dt>Name:
        <dd><input type=text size=30 name=Name>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  </div>
  <div class ="col-sm-6">
  <h3>Insert a single data entry</h3>
  <form action="{{ url_for('add_game') }}" method=post class=add-entry>
      <dl>
        <dt>VID:
        <dd><input type=text size=30 name=VID>
        <dt>Name:
        <dd><input type=text size=30 name=Name>
        <dt>Platforms:
        <dd><input type=text size=30 name=Platforms>
        <dt>Release Year:
        <dd><input type=text size=4 name=ReleaseDT>
        <dt>Copies Sold:
        <dd><input type=text size=30 name=CopiesSold>
        <dd><input type=submit value=Share>
      </dl>
    </form>
    <h3>Upload a csv file for bulk for games</h3>
      <form action="{{ url_for('add_games_bulk') }}" method=post>
        <input type ="file" name = "data_file">
        <input type = "submit">
      </form>
      <h3>Upload a csv file for bulk for platforms</h3>
      <form action="{{ url_for('add_platforms_bulk') }}" method=post>
        <input type ="file" name = "data_file">
        <input type = "submit">
      </form>
  </div>
</div>
<!--Insert game data in two columns-->
<div class="container">
  <div class="col-sm-6">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>VID</th>
        <th>Name</th>
      </tr>
    </thead>
  
    <tbody>
      {% for game in games %}
      <tr>
        <td>{{ game.VID }}</td>
        <td>{{ game.Name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 
  </div>
  <div class="col-sm-6">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>VID</th>
            <th>Platform</th>
            <th>Year</th>
            <th>Copies</th>
        </tr>
      </thead>
      <tbody>
        <!--Reverse because they are in descending order -->
        {% for platform in platforms %}
          <tr>
            <td>{{ platform.VID }}</td>
            <td>{{ platform.Platforms  }}</td>
            <td>{{ platform.ReleaseDT }}</td>
            <td>{{ platform.CopiesSold }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>








