<html>
  <form action="{{ url_for('add_game') }}" method=post class=add-entry>
      <dl>
        <dt>VID:
        <dd><input type=text size=30 name=VID>
        <dt>Name:
        <dd><input type=text size=30 name=Name>
        <dt>Platforms:
        <dd><input type=text size=30 name=Platforms>
        <dt>Release Year:
        <dd><input type=text size=4 name=ReleaseDT>
        <dt>Copies Sold:
        <dd><input type=text size=30 name=CopiesSold>
        <dd><input type=submit value=Share>
      </dl>
    </form>
</html>