{% extends "home.html" %}


<div class="container">    
	<footer class="container-fluid text-center">
  		<form class="form-inline">
    		<input type="email" class="form-control" size="50" placeholder="Enter your search...">
    		<button type="button" class="btn btn-danger">Search</button>
 		</form>
	</footer>

	<br></br>
	<footer class="container-fluid text-center">
		<h1>Featured Content</h1>
		<br></br>
		<div class="row">
    	<div class="col-sm-4">
    	  <div class="panel panel-primary">
    	    <div class="panel-heading">Featured Game</div>
    	    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" 	style="width:100%" alt="Image"></div>
    	    <div class="panel-footer">Call of Duty: World War II</div>
    	  </div>
    	</div>
    	<div class="col-sm-4"> 
    	  <div class="panel panel-danger">
    	    <div class="panel-heading">Featured Character</div>
    	    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" 	style="width:100%" alt="Image"></div>
    	    <div class="panel-footer">Mario</div>
    	  </div>
    	</div>
    	<div class="col-sm-4"> 
    	  <div class="panel panel-success">
    	    <div class="panel-heading">Featured Developer</div>
    	    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" 	style="width:100%" alt="Image"></div>
    	    <div class="panel-footer">Blizzard</div>
    	  </div>
    	</div>
  	</div>
	</footer>
  
</div><br>
