<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stage 5</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Video Game IMDB</h1>      
    <p>Adam Goldberg, Hoai Nguyen, & Cullen Donahoe</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">CS564</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href={{ url_for('index') }}>Home</a></li>
        <li><a href={{ url_for('consoles_page') }}>Consoles</a></li>
        <li><a href={{ url_for('games_page') }}>Games</a></li>
        <li><a href={{ url_for('characters_page') }}>Characters</a></li>
        <li><a href={{ url_for('developers_page') }}>Developers</a></li>
      </ul>
    </div>
  </div>
</nav>

<br></br>
  <footer class="container-fluid text-center">
    <h1>Featured Content</h1>
    <br></br>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Featured Game</div>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  style="width:100%" alt="Image"></div>
          <div class="panel-footer">Call of Duty: World War II</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-danger">
          <div class="panel-heading">Featured Character</div>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  style="width:100%" alt="Image"></div>
          <div class="panel-footer">Mario</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">Featured Developer</div>
          <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"  style="width:100%" alt="Image"></div>
          <div class="panel-footer">Blizzard</div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
